.SolveIt {
    padding-top: 50px;
    padding-inline: 100px;
    height: 100vh;
    display: flex;

    >.left {
        width: 30%;
        border: 1px solid rgb(255, 102, 0);
    }

    >.right {
        width: 70%;
        position: relative;
        display: flex;
        flex-direction: column;

        >button {
            position: absolute;
            top: 68%;
            right: 0;
            width: 80px;
            border: none;
            font-size: 17px;
            border-radius: 20px;
            height: 30px;
            cursor: pointer;
            transition: all 0.4s;
            &:hover {
                background: rgb(115, 254, 115);
            }
        }
    }

}