.Contest {
    height: 100vh;
    width: 100%;
    padding-top: 70px;
    padding-inline: 100px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    >.results {
        // border: 1px solid gray;
        margin-top: 30px;
        >.result {
            margin-block: 10px;
            padding: 10px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid gray;
            >.nameCrown {
                display: flex;
                align-items: center;
                // justify-content: space-evenly;
                svg {
                    margin-left: 20px;
                    font-size: 25px;
                }
            }
        }
    }
}