.SolveIt {
    padding-top: 50px;
    padding-inline: 100px;
    height: 100vh;
    display: flex;

    >.left {
        width: 30%;
        // border: 1px solid rgb(103, 103, 103);
        padding-block: 20px;

        // padding-left: 20px;
        h2 {
            margin-bottom: 10px;
        }

        >.type {
            margin-bottom: 20px;
            display: flex;
            // justify-content: space;
            flex-wrap: wrap;

            // border: 1px solid red;
            p {
                border: 1px solid gray;
                border-radius: 15px;
                margin-right: 10px;
                padding: 5px 10px;

                &:nth-child(1) {
                    color: rgb(47, 255, 168);
                }
            }
        }

        >.descriptiion {
            margin-bottom: 30px;
            padding-right: 20px;
        }

        >.exampleDiv {
            border-left: 3px solid gray;
            margin-top: 20px;
            padding-inline: 20px;

            h4 {
                margin-block: 5px;

                >span {
                    color: rgb(192, 192, 192);
                    font-weight: 400;
                }
            }
        }

        >.oktxt {
            margin-top: 30px;
        }

        button {
            margin-top: 10px;
            padding: 6px 10px;
            border: 2px solid gray;
            border-radius: 16px;
            background: transparent;
            color: white;
            font-size: 16px;
            cursor: pointer;
            margin-right: 10px;

            &:hover {
                border-color: rgb(0, 255, 0);
            }
        }
    }

    >.right {
        width: 70%;
        position: relative;
        display: flex;
        flex-direction: column;

        >button {
            position: absolute;
            top: 60%;
            right: 10px;
            width: 80px;
            border: none;
            font-size: 17px;
            border-radius: 20px;
            height: 30px;
            cursor: pointer;
            transition: all 0.4s;

            &:hover {
                background: rgb(115, 254, 115);
            }
        }
    }
}

.Loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}